.lesson {
    width: 1590px;
    height: 50px;
    background-color: brown;


}

.txt {
    color: white;
    font-size: 25px;
    text-align: right;
    padding-right: 150px;

}

.white {
    width: 1590px;
    height: 25px;
    background-color: white;
    margin: 0;

}

.lorem1 {
    width: 1590px;
    height: 50px;
    background-color: silver;
    padding-top: 10px;
    padding-right:10px ;
    padding-left: 10px;
    padding-bottom: 35px;
}

.txt2 {
    font-size: 18px;


}


.lorem2 {
    width: 1590px;
    height: 50px;
    background-color: cornflowerblue;
    padding-top: 20px;
    padding-bottom: 45px ;
}

.txt3 {
    font-size: 18px;


}

.fwall {
    width: 350px;
    height: 350px;
    background-color: forestgreen;



}

.fwall2 {
    height: 350px;
    width: 350px;
    background-color: mediumpurple;
    border-radius: 20px;

}